@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

.body {
    background-color: #F6F6F6 !important;
    margin: 0;
    padding: 0;
}

.contactTitle {
    padding-top: 150px;

    .titleText {
        h1 {
            font-size: 32px;
            margin-left: 5%;
        }
    
        .contactTitleImg {
            width: 818px;
            margin-left: 5%;
            margin-bottom: 100px;
        }
    }

}

.contactContainer {
    border-top: 1px solid #000;

    .contact {
        width: 1280px;
        margin: auto;
        background-color: white;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        padding-bottom: 200px;

        .contactBox {
            padding-top: 50px;

            h1 {
                margin: 0;
                color: #B20000;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 60px;
            }

            .spbr {
                display: none;
            }

            .forms {
                display: flex;
                justify-content: center;

                label {
                    display: block;
                    width: 210px;
                    margin: 0;
                    line-height: 45px;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;

                    span {
                        color: #B20000;
                    }
                }

                input {
                    width: 725px;
                    height: 45px;
                    border: none;
                    background-color: #f0f0f0;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 16px;
                    letter-spacing: 0.1rem;
                    padding-left: 15px;
                }

                .selectContainer {
                    margin: 0;
                    position: relative;

                    select {
                        width: 740px;
                        height: 45px;
                        border: none;
                        background-color: #f0f0f0;
                        margin-bottom: 60px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 16px;
                        letter-spacing: 0.1rem;
                        padding-left: 15px;

                        option {
                            background-color: white;
                        }
                        option:hover {
                            background-color: white;
                        }
                    }

                    select::-ms-expand {
                        display: none;
                        /* デフォルトの矢印を非表示(IE用) */
                    }

                    span {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background-color: #B20000;
                        border-radius: 25px;
                        position: absolute;
                        top: 8%;
                        right: 3%;
                    }
                    span::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 11px solid #f0f0f0;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-left: 7px solid transparent;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -25%);
                        transition: .3s;
                    }

                    select:active span {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background-color: #B20000;
                        border-radius: 25px;
                        position: absolute;
                        top: 8%;
                        right: 3%;
                    }
                    select:active span::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 11px solid transparent;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-left: 7px solid transparent;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        
                        transition: .3s;
                    }

                }




                textarea {
                    width: 725px;
                    height: 215px;
                    border: none;
                    background-color: #f0f0f0;
                    resize: none;
                    color: #000000;
                    padding-left: 15px;
                    padding-top: 15px;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 16px;
                    letter-spacing: 0.1rem;
                }
            }

            p {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                margin-left: 375px;
                margin-bottom: 30px;
            }

            .caveat {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                color: #B20000;
                margin-top: -20px;
            }
            .caveat0 {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                color: #B20000;
            }

            .nextbuttonContainer {
                width: 280px;
                margin: auto;
                margin-top: 50px;
                position: relative;
                z-index: 1;
                transition: 0.3s;
                border: 1px solid #000;
                border-radius: 25px;

                p {
                    font-size: 16px;
                    font-weight: 700;
                    width: 280px;
                    height: 36px;
                    line-height: 36px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0;
                    text-align: center;
                    z-index: 0;
                }

                .nextButton {
                    width: 280px;
                    height: 36px;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0.1rem;
                    z-index: 1;
                    position: relative;
                }

                .playButton {
                    display: block;
                    width: 26px;
                    height: 26px;
                    background-color: #000;
                    border-radius: 25px;
                    border-style: none;
                    position: absolute;
                    top: 14%;
                    right: 2%;
                    transition: .3s;
                    z-index: 1;
                }

                .playButton::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 0 6px 11px;
                    border-color: transparent transparent transparent #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -50%);
                    transition: .3s;
                }
            }

            .nextbuttonContainer:hover {
                transform: scale(1.05, 1.05);
                transition: 0.3s;
            }
        }

        .contactBox_hidden {
            display: none;
        }

        .confirmBox {
            padding-top: 50px;

            .note {
                margin: 0;
                color: #B20000;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 60px;

                br {
                    display: none;
                }
            }

            p {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                margin-left: 375px;
                margin-bottom: 30px;
                margin-top: 10px;
            }

            .forms {
                display: flex;
                justify-content: center;

                h1 {
                    width: 210px;
                    margin: 0;
                    line-height: 45px;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;

                    span {
                        color: #B20000;
                    }
                }

                p {
                    width: 725px;
                    height: 45px;
                    background-color: #f0f0f0;
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    line-height: 45px;
                    padding-left: 15px;
                }

                .contactText {
                    height: 240px;
                    width: 710px;
                    padding-right: 15px;
                }
            }

            .terms {
                width: 400px;
                height: 65px;
                background-color: #f0f0f0;
                margin: 60px auto;
                position: relative;

                label {
                    font-size: 12px;
                    font-weight: 500;
                    position: absolute;
                    top: 50%;
                    left: 17%;
                    transform: translateY(-50%);

                    a {
                        text-decoration: underline;
                        color: #000;
                    }

                    br {
                        display: none;
                    }
                }

                input {
                    border: 2px solid #595959;
                    width: 30px;
                    height: 30px;
                    appearance: none;
                    cursor: pointer;
                    margin: 17px 15px auto 25px;
                }

                input:checked {
                    border: 2px solid #B20000;
                    background-color: #B20000;
                    position: relative;
                }

                input:checked::after {
                    content: "";
                    width: 15px;
                    height: 7px;
                    border-left: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                    transform: rotate(-45deg);
                    position: absolute;
                    left: 20%;
                    top: 20%;
                }

                .linkIcon {
                    position: absolute;
                    right: 13%;
                    top: 42%;
                }
            }

            .buttonContainer {
                display: flex;
                justify-content: center;
                gap: 30px;
                margin-top: 50px;
                margin-bottom: 50px;

                .backButtonContainer {
                    position: relative;
                    transition: 0.3s;

                    p {
                        font-size: 16px;
                        font-weight: 700;
                        width: 280px;
                        height: 36px;
                        line-height: 36px;
                        color: #595959;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: 0;
                        text-align: center;
                        z-index: 0;
                    }

                    .backButton {
                        width: 280px;
                        height: 36px;
                        border: 2px solid #9A9A9A;
                        border-radius: 25px;
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        color: #9A9A9A;
                        letter-spacing: 0.16rem;
                        position: relative;
                        z-index: 1;
                    }

                    .playButton {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background-color: #9A9A9A;
                        border-radius: 25px;
                        border-style: none;
                        position: absolute;
                        top: 50%;
                        left: 0%;
                        transform: translate(20%, -50%);
                        transition: .3s;
                        z-index: 11;
                    }

                    .playButton::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 0 6px 11px;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        top: 27.5%;
                        left: 24.5%;
                        transform: rotate(180deg);
                        transition: .3s;
                    }
                }

                .backButtonContainer:hover {
                    transform: scale(1.05, 1.05);
                    transition: 0.3s;
                }

                .sendButtonContainer {
                    position: relative;
                    transition: 0.3s;
                    opacity: 0.3;

                    .sendButton {
                        width: 280px;
                        height: 36px;
                        border: none;
                        border-radius: 25px;
                        background-color: #fff;
                        border: 1px solid #000;
                        margin: 0;
                        cursor: default;

                        p {
                            margin: 0;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 16px;
                            font-weight: 700;
                            color: #000;
                            letter-spacing: 0.16rem;
                        }

                    }

                    .playButton {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background-color: #000;
                        border-radius: 25px;
                        border-style: none;
                        position: absolute;
                        top: 50%;
                        right: 0%;
                        transform: translate(-20%, -50%);
                        transition: .3s;
                        z-index: 11;
                    }

                    .playButton::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 0 6px 11px;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-40%, -50%);
                        transition: .3s;
                    }
                }

                .sendButtonContainer_visible {
                    position: relative;
                    transition: 0.3s;
                    
                    .sendButton {
                        width: 280px;
                        height: 36px;
                        border: none;
                        border-radius: 25px;
                        background-color: #fff;
                        border: 1px solid #000;
                        margin: 0;
                        cursor: pointer;
                
                        p {
                            margin: 0;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 16px;
                            font-weight: 700;
                            color: #000;
                            letter-spacing: 0.16rem;
                        }
                
                    }
                
                    .playButton {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background-color: #000;
                        border-radius: 25px;
                        border-style: none;
                        position: absolute;
                        top: 50%;
                        right: 0%;
                        transform: translate(-20%, -50%);
                        transition: .3s;
                        z-index: 11;
                    }
                
                    .playButton::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 0 6px 11px;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-40%, -50%);
                        transition: .3s;
                    }
                }

                .sendButtonContainer_visible:hover {
                    transform: scale(1.05, 1.05);
                    transition: 0.3s;
                }
            }
        }
    }
}

.contactCompletionContainer {
    border-top: 1px solid #000;

    .contactCompletion {
        width: 1280px;
        margin: auto;
        background-color: white;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        text-align: center;
        padding-top: 180px;
        padding-bottom: 150px;
        transition: 0.3s;

        h1 {
            font-size: 30px;
            letter-spacing: 0.1rem;
            font-weight: 700;

            br {
                display: none;
            }
        }

        h2 {
            font-size: 30px;
            letter-spacing: 0.1rem;
            line-height: 160%;
            font-weight: 700;
            width: 756px;
            margin: auto;
            margin-top: 30px;

            br {
                display: none;
            }
        }

        a {
            display: block;
            margin: auto;
            margin-top: 130px;
            width: 280px;
            height: 36px;
            border: 1px solid #000;
            border-radius: 25px;
            position: relative;

            p {
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.1rem;
                line-height: 36px;
                margin: 0;
                color: #000;
            }

            .playButton {
                display: block;
                width: 26px;
                height: 26px;
                background-color: #000;
                border-radius: 25px;
                border-style: none;
                position: absolute;
                top: 14%;
                right: 2%;
                transition: .3s;
                z-index: 1;
            }

            .playButton::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 0 6px 11px;
                border-color: transparent transparent transparent #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-40%, -50%);
                transition: .3s;
            }
        }

        a:hover {
            transform: scale(1.05, 1.05);
            transition: 0.3s;
        }
    }
}


@media screen and (max-width: 900px) {

.contactTitle {
    padding-top: 100px;

    .titleText {
        h1 {
            font-size: 20px;
        }
    
        .contactTitleImg {
            width: 85%;
        }
    }

}

.contactContainer {

    .contact {
        width: 90%;
        padding-bottom: 100px;

        .contactBox {
            padding-top: 50px;

            h1 {
                margin: 0;
                color: #B20000;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.15rem;
                margin-bottom: 30px;
            }

            .spbr {
                display: block;
            }

            .forms {
                display: block;
                margin: auto;

                label {
                    display: block;
                    width: 85%;
                    margin: 0;
                    margin-left: 5%;
                    margin-right: auto;
                    line-height: 45px;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;

                    span {
                        color: #B20000;
                    }
                }

                input {
                    width: 85%;
                    height: 45px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border: none;
                    background-color: #f0f0f0;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    padding-left: 15px;
                }

                .selectContainer {
                    margin: 0;
                    position: relative;

                    select {
                        width: 90%;
                        height: 45px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        border: none;
                        background-color: #f0f0f0;
                        margin-bottom: 20px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 10px;
                        font-weight: 500;
                        letter-spacing: 0.1rem;
                        padding-left: 15px;

                        option {
                            background-color: white;
                        }

                        option:hover {
                            background-color: white;
                        }
                    }

                    select::-ms-expand {
                        display: none;
                        /* デフォルトの矢印を非表示(IE用) */
                    }

                    span {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background-color: #B20000;
                        border-radius: 25px;
                        position: absolute;
                        top: 20%;
                        right: 8%;
                    }

                    span::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 11px solid #f0f0f0;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-left: 7px solid transparent;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -25%);
                        transition: .3s;
                    }

                    select:active span {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background-color: #B20000;
                        border-radius: 25px;
                        position: absolute;
                        top: 8%;
                        right: 3%;
                    }

                    select:active span::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 11px solid transparent;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-left: 7px solid transparent;
                        position: absolute;
                        top: 50%;
                        left: 50%;

                        transition: .3s;
                    }

                }

                textarea {
                    width: 85%;
                    height: 215px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border: none;
                    background-color: #f0f0f0;
                    resize: none;
                    color: #000000;
                    padding-left: 15px;
                    padding-top: 15px;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                }
            }

            p {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                margin-left: 5%;
                margin-bottom: 15px;
                line-height: 200%;
            }

            .caveat {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                color: #B20000;
                margin-top: -10px;
            }

            .caveat0 {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                color: #B20000;
            }

            .nextbuttonContainer {
                width: 285px;
                margin: auto;
                margin-top: 50px;
                position: relative;
                border: 1px solid #000;
                border-radius: 25px;
                background-color: white;

                p {
                    font-size: 14px;
                    font-weight: 700;
                    width: 280px;
                    height: 50px;
                    line-height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0;
                    text-align: center;
                    z-index: 0;
                }

                .nextButton {
                    width: 285px;
                    height: 50px;
                    cursor: pointer;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.16rem;
                    z-index: 1;
                }

                .playButton {
                    display: block;
                    width: 32px;
                    height: 32px;
                    background-color: #000;
                    border-radius: 25px;
                    border-style: none;
                    position: absolute;
                    top: 17%;
                    right: 3%;
                    transition: .3s;
                    z-index: 1;
                }

                .playButton::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 0 8px 14px;
                    border-color: transparent transparent transparent #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -50%);
                    transition: .3s;
                }
            }
        }

        .contactBox_hidden {
            display: none;
        }

        .confirmBox {
            padding-top: 40px;

            .note {
                margin: 0;
                color: #B20000;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 20px;
                line-height: 200%;

                br {
                    display: block;
                }
            }

            p {
                display: none;
            }

            .forms {
                display: block;

                h1 {
                    width: 85%;
                    margin: 0;
                    margin-left: 5%;
                    margin-top: 10px;
                    line-height: 45px;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;

                    span {
                        color: #B20000;
                    }
                }

                p {
                    width: 85%;
                    height: 45px;
                    margin: 0;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: #f0f0f0;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    line-height: 45px;
                    padding-left: 15px;
                }

                .contactText {
                    width: 80%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding-right: 15px;
                    padding-top: 15px;
                    line-height: 150%;
                }
            }

            .terms {
                width: 90%;
                height: 65px;
                background-color: #f0f0f0;
                margin: 60px auto;
                position: relative;

                label {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 180%;
                    position: absolute;
                    top: 50%;
                    left: 20%;
                    transform: translateY(-50%);

                    a {
                        text-decoration: underline;
                        color: #000;
                    }

                    br {
                        display: block;
                    }
                }

                input {
                    border: 2px solid #595959;
                    width: 24px;
                    height: 24px;
                    appearance: none;
                    cursor: pointer;
                    margin: 20px 10px auto 25px;
                }

                input:checked {
                    border: 2px solid #B20000;
                    background-color: #B20000;
                    position: relative;
                }

                input:checked::after {
                    content: "";
                    width: 12px;
                    height: 7px;
                    border-left: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                    transform: rotate(-45deg);
                    position: absolute;
                    left: 15%;
                    top: 20%;
                }

                .linkIcon {
                    position: absolute;
                    right: 52%;
                    top: 55%;
                }
            }

            .buttonContainer {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;
                margin-top: 50px;
                margin-bottom: 10px;

                .backButtonContainer {
                    position: relative;
                    transition: 0.3s;
                    order: 2;

                    p {
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                        width: 80vw;
                        height: 50px;
                        line-height: 50px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: 0;
                        text-align: center;
                        z-index: 0;
                    }

                    .backButton {
                        width: 80vw;
                        height: 50px;
                        border: 2px solid #9A9A9A;
                        border-radius: 25px;
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        color: #9A9A9A;
                        letter-spacing: 0.16rem;
                        position: relative;
                        z-index: 1;
                    }

                    .playButton {
                        display: block;
                        width: 32px;
                        height: 32px;
                        background-color: #9A9A9A;
                        border-radius: 25px;
                        border-style: none;
                        position: absolute;
                        top: 50%;
                        left: 0%;
                        transform: translate(30%, -50%);
                        transition: .3s;
                        z-index: 11;
                    }

                    .playButton::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 0 8px 14px;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        top: 26.5%;
                        left: 22.5%;
                        transform: rotate(180deg);
                        transition: .3s;
                    }
                }

                .backButtonContainer:hover {
                    transform: scale(1.05, 1.05);
                    transition: 0.3s;
                }

                .sendButtonContainer {
                    position: relative;
                    transition: 0.3s;
                    opacity: 0.3;
                    order: 1;

                    .sendButton {
                        width: 80vw;
                        height: 50px;
                        border: none;
                        border-radius: 25px;
                        background-color: #000;
                        border: none;
                        margin: 0;
                        cursor: pointer;
                        font-size: 14px !important;
                
                        p {
                            margin: 0;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 14px !important;
                            font-weight: 700;
                            color: #fff;
                            letter-spacing: 0.16rem;
                            display: block !important;
                        }
                
                    }
                
                    .playButton {
                        display: block;
                        width: 32px;
                        height: 32px;
                        background-color: #fff;
                        border-radius: 25px;
                        border-style: none;
                        position: absolute;
                        top: 50%;
                        right: 0%;
                        transform: translate(-30%, -50%);
                        transition: .3s;
                        z-index: 11;
                    }
                
                    .playButton::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 0 8px 14px;
                        border-color: transparent transparent transparent #000;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-40%, -50%);
                        transition: .3s;
                    }
                }

                .sendButtonContainer_visible {
                    position: relative;
                    transition: 0.3s;

                    .sendButton {
                        width: 80vw;
                        height: 50px;
                        border: none;
                        border-radius: 25px;
                        background-color: #000;
                        border: none;
                        margin: 0;
                        cursor: pointer;

                        p {
                            margin: 0;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 14px;
                            font-weight: 700;
                            color: #fff;
                            letter-spacing: 0.16rem;
                            display: block !important;
                        }

                    }

                    .playButton {
                        display: block;
                        width: 32px;
                        height: 32px;
                        background-color: #fff;
                        border-radius: 25px;
                        border-style: none;
                        position: absolute;
                        top: 50%;
                        right: 0%;
                        transform: translate(-30%, -50%);
                        transition: .3s;
                        z-index: 11;
                    }

                    .playButton::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 0 8px 14px;
                        border-color: transparent transparent transparent #000;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-40%, -50%);
                        transition: .3s;
                    }
                }

                .sendButtonContainer_visible:hover {
                    transform: scale(1.05, 1.05);
                    transition: 0.3s;
                }
            }
        }
    }
}

.contactCompletion {
    width: 90% !important;
    margin: auto;
    background-color: white;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
    padding-top: 70px !important;
    padding-bottom: 100px !important;
    transition: 0.3s;

    h1 {
        font-size: 18px !important;
        letter-spacing: 0.1rem;
        font-weight: 700;

        br {
            display: block !important;
        }
    }

    h2 {
        font-size: 18px !important;
        letter-spacing: 0.1rem;
        line-height: 160%;
        font-weight: 700;
        width: 90% !important;
        margin: auto;
        margin-top: 30px;

        br {
            display: block !important;
        }
    }

    a {
        display: block;
        margin: auto;
        margin-top: 60px !important;
        width: 280px;
        height: 50px !important;
        border: 1px solid #000;
        border-radius: 25px;
        position: relative;

        p {
            font-size: 14px !important;
            font-weight: 700;
            letter-spacing: 0.1rem;
            line-height: 50px !important;
            margin: 0;
            color: #000;
        }

        .playButton {
            display: block;
            width: 32px !important;
            height: 32px !important;
            background-color: #000;
            border-radius: 25px;
            border-style: none;
            position: absolute;
            top: 16% !important;
            right: 3% !important;
            transition: .3s;
            z-index: 1;
        }

        .playButton::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 14px !important;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            transition: .3s;
        }
    }

    a:hover {
        transform: scale(1.05, 1.05);
        transition: 0.3s;
    }
}

}