@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

body {
    background-color: #F6F6F6 !important;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.mask {
    overflow: hidden;
}

.container {
    width: 100%;
    background-color: white;
    border-bottom: none;
    position: fixed;
    z-index: 1000;
    transition: 0.5s;

    .flexContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: auto;
        margin-bottom: auto;
        height: 120px;

        a {
            height: 80px;
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            position: relative;

            .logoColor {
                width: 80px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }


        .headerRight {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-top: auto;
            margin-bottom: auto;

            a {
                height: 19px;

                p {
                    color: #fff;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    letter-spacing: 0.15rem;
                    font-weight: 800;
                    margin: 0;
                    transition: 0.3s;
                    text-shadow: -1px -1px 0 black,
                        -1px 0 0 black,
                        -1px 1px 0 black,
                        0 -1px 0 black,
                        0 1px 0 black,
                        1px - 1px 0 black,
                        1px 0 0 black,
                        1px 1px 0 black;
                }

                p:hover {
                    color: #595959 !important;

                }
            }

            .hmb {
                display: none;
            }
        }
        .headerRight a:nth-child(3) {
            opacity: 0.3;
            cursor: default;
            p:hover {
                color: #fff !important;
            }
        }
        .headerRight a:nth-child(4) {
            opacity: 0.3;
            cursor: default;
            p:hover {
                color: #fff !important;
            }
        }
        .headerRight a:nth-child(5) {
            opacity: 0.3;
            cursor: default;
            p:hover {
                color: #fff !important;
            }
        }
        .menuWrapper {
            display: none;

            .menuWrapper__active {
                display: none;
            }
        }
    }
}

.show {
    width: 100%;
    background-color: white;
    border-bottom: none;
    position: fixed;
    z-index: 1000;
    transition: 0.5s;
    transform: translateY(-125px);

    .flexContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: auto;
        margin-bottom: auto;
        height: 120px;

        a {
            height: 80px;
            margin-top: auto;
            margin-bottom: auto;
            position: relative;

            .logoColor {
                width: 80px;
                position: absolute;
                top: 0;
                left: 0;
            }

            .logoWhite {
                width: 80px;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .headerRight {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-top: auto;
            margin-bottom: auto;

            a {
                height: 19px;

                p {
                    color: #fff;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    letter-spacing: 0.15rem;
                    font-weight: 800;
                    margin: 0;
                    text-shadow: -1px -1px 0 #000, -1px 0 0 #000, -1px 1px 0 #000,
                        0 -1px 0 #000, 0 1px 0 #000,
                        1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000;
                }

                p:hover {
                    color: #000
                }
            }

            .hmb {
                display: none;
            }
        }

        .headerRight a:nth-child(3) {
            opacity: 0.3;
            cursor: default;
            p:hover {
                color: #fff !important;
            }
        }
        .headerRight a:nth-child(4) {
            opacity: 0.3;
            cursor: default;
            p:hover {
                color: #fff !important;
            }
        }
        .headerRight a:nth-child(5) {
            opacity: 0.3;
            cursor: default;
            p:hover {
                color: #fff !important;
            }
        }

        .menuWrapper {
            display: none;
        }

        .menuWrapper__active {
            display: none;
        }
    }
}

.information {
    padding-top: 150px;

    h1 {
        font-size: 32px;
        margin-left: 5%;
    }

    .informationTitleSP {
        display: none;
    }

    .informationTitle {
        width: 1152px;
        margin-left: 5%;
        margin-bottom: 100px;
    }

    .informationContentsContainer {
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #000;

        .informationContents {
            width: 90%;
            background-color: #fff;
            border-left: 1px solid #000;
            padding-top: 100px;
            padding-bottom: 100px;
            margin-right: 0;
            margin-left: auto;
    
            hr {
                width: 100%;
                border: none;
                background-color: #000000;
                height: 1px;
                margin-left: 70px;
            }
    
            .informationContent {
                .informationText {
                    display: flex;
                    justify-content: flex-start;
                    visibility: hidden;
    
                    .vertical {
                        width: 1px;
                        height: 50px;
                        margin: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
    
                    h1 {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 0.1rem;
                        width: 200px;
                        line-height: 90px;
                    }
    
                    .bodyText {
                        font-size: 14px;
                        letter-spacing: 0.05rem;
                        line-height: 180%;
                        margin: auto 0 auto 60px;
                        width: 55%;

                        a {
                            color: #3988FF;
                            text-decoration: underline;
                        }
                    }
                }
    
                hr {
                    width: 100%;
                }
    
            }
        }

        .pagenations {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            background-color: #fff;
            width: 90%;
            height: 52px;
            margin-right: 0;
            margin-left: auto;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 18px;
            font-weight: 500;
            

            span {
                width: 52px;
                height: 52px;
                line-height: 52px;
                color: #fff;
                text-align: center;
                background-color: #7FC0EF;
            }


            a {
                width: 52px;
                height: 52px;
                line-height: 52px;
                text-align: center;
                color: #000;
            }

        }

        .space {
            height: 240px;
            background-color: #fff;
            border-top: 1px solid #000;
        }
    }

    .informationContents {
        width: 80%;
        background-color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;
    
        hr {
            width: 100%;
            border: none;
            background-color: #000000;
            height: 1px;
        }

        .informationContent {

            .informationText {
                display: flex;
                justify-content: flex-start;

                .vertical {
                    width: 1px;
                    height: 50px;
                    margin: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    width: 200px;
                    line-height: 90px;
                }

                h2 {
                    font-size: 14px;
                    letter-spacing: 0.05rem;
                    line-height: 180%;
                    margin: auto 0 auto 60px;
                    width: 55%;
                }
            }

            hr {
                width: 100%;
            }

        }
    }
}


@media screen and (max-width: 900px) {
.container {
    background-color: transparent;

    .flexContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
        height: 88px;

        a {
            height: 50px;
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            position: relative;

            .logoColor {
                width: 50px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .headerRight {

            a {
                display: none;

                p {
                    color: #000;
                    font-family: 'Montserrat', sans-serif;
                    letter-spacing: 0.14rem;
                    font-weight: 700;
                    margin: 0;
                    transition: 0.3s;
                }

                p:hover {
                    color: #595959 !important;
                }
            }

            .hmb {
                display: block;
                background-color: transparent;
                border: none;
                filter: brightness(0.3);

                .hamberger {
                    transition: 0.2s;
                    width: 36px;
                }

                .hamberger:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }

        .menuWrapper {
            background-color: transparent;
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0;
            opacity: 0;
            transform: translateX(100%);
            transition: 0.8s;
            display: block;
            border: none;

            &__active {
                display: block;
                transform: translate(-2.7%, 0);
                opacity: 1;
                transition: 0.8s;
            }

            .menu {
                background-color: #fff;
                height: 86vh;
                width: 96%;
                border-bottom-left-radius: 100px;
                margin-right: 0;
                margin-left: auto;
                padding-top: 25px;
                position: relative;
                overflow: hidden;
                border-left-style: solid;
                border-bottom-style: solid;
                border-color: transparent;
                transition: 0.8s;

                .menuTop {
                    margin-right: 0;
                    margin-left: auto;
                    display: flex;
                    justify-content: flex-end;
                    gap: 12px;
                    padding-right: 3.5vw;
                    position: relative;
                    z-index: 1;

                    .close {
                        display: block;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        margin-top: 3px;
                        transition: 0.3s;
                        border: none;
                        background-color: transparent;
                    }

                    .close::before,
                    .close::after {
                        content: "";
                        display: block;
                        width: 100%;
                        /*バツ線の長さ*/
                        height: 2px;
                        /*バツ線の太さ*/
                        background-color: #595959;
                        transform: rotate(45deg);
                        transform-origin: 0% 50%;
                        position: absolute;
                        top: calc(14% - 5px);
                        left: 14%;
                    }

                    .close::after {
                        transform: rotate(-45deg);
                        transform-origin: 100% 50%;
                        left: auto;
                        right: 14%;
                    }
                }

                .close:hover {
                    transform: scale(1.1, 1.1);
                }

                .menuList {
                    margin: auto;
                    display: flex;
                    flex-flow: column;
                    gap: 20px;
                    padding-left: 15%;
                    padding-top: 15%;
                    position: relative;
                    z-index: 1;

                    .list {
                        display: flex;
                        justify-content: flex-start;

                        p {
                            color: #fff;
                            transition: 0.3s;
                            margin: 0;
                            font-size: 28px;
                            letter-spacing: 0.2rem;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 800;
                            text-shadow: -1px -1px 0 #000, -1px 0 0 #000, -1px 1px 0 #000,
                                0 -1px 0 #000, 0 1px 0 #000,
                                1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000;
                        }

                        p:hover {
                            transform: scale(1.05, 1.05);
                        }

                        hr {
                            border: none;
                            width: 40px;
                            height: 1px;
                            margin: 0;
                            margin-top: 22px;
                            margin-right: 20px;
                            background-color: #595959;
                        }
                    }
                }
                .menuList a:nth-child(3) {
                    opacity: 0.3;
                    p:hover {
                        transform: scale(1);
                    }
                }
                .menuList a:nth-child(4) {
                    opacity: 0.3;
                    p:hover {
                        transform: scale(1);
                    }
                }
                .menuList a:nth-child(5) {
                    opacity: 0.3;
                    p:hover {
                        transform: scale(1);
                    }
                }
                .copyright {
                    position: absolute;
                    bottom: 0;
                    right: 4%;

                    p {
                        line-height: 12px;
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 0.1rem;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .comingSoon {
                    position: absolute;
                    top: 250px;
                    left: 7%;
                    width: 300px;
                    height: 200px;
                    background-color: rgba(89, 89, 89, 0.35);
                    text-align: left;
                    border-radius: 10px;

                    p {
                        font-size: 35px;
                        font-weight: 700;
                        color: #000;
                        margin: auto;
                        margin-top: 45px;
                        margin-left: 40px;
                        letter-spacing: 0.2rem;
                    }
                }
            }
        }
    }
}

.show {
    transform: translateY(-88px);
    background-color: transparent;

    .flexContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
        height: 88px;

        a {
            height: 50px;
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            position: relative;

            .logoColor {
                width: 50px;
                position: absolute;
                top: 0;
                left: 0;
            }

            .logoWhite {
                width: 50px;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
            }
        }


        .headerRight {

            a {
                display: none;

                p {
                    color: #000;
                    font-family: 'Montserrat', sans-serif;
                    letter-spacing: 0.14rem;
                    font-weight: 700;
                    margin: 0;
                    transition: 0.3s;
                }

                p:hover {
                    color: #595959 !important;
                }
            }

            .hmb {
                display: block;
                background-color: transparent;
                border: none;
                filter: brightness(0.3);

                .hamberger {
                    transition: 0.2s;
                    width: 36px;
                }

                .hamberger:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }

        .menuWrapper {
            background-color: transparent;
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0;
            opacity: 0;
            transform: translateX(100%);
            transition: 0.8s;
            border-color: #B0EA0A;

            &__active {
                transform: translate(-3.5%, 0);
                opacity: 1;
                transition: 0.8s;
            }

            .menu {
                background-color: #fff;
                height: 92vh;
                width: 960px;
                border-bottom-left-radius: 100px;
                margin-right: 0;
                margin-left: auto;
                padding-top: 40px;
                position: relative;
                overflow: hidden;
                border-left-style: solid;
                border-bottom-style: solid;
                border-color: #B0EA0A;

                .menuBack {
                    position: absolute;
                    width: 1300px;
                    top: 0;
                    right: -10%;
                    -webkit-user-drag: none;
                    animation-name: huwahuwa;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-duration: 3s;
                    z-index: 0;
                }

                .menuTop {
                    margin-right: 0;
                    margin-left: auto;
                    display: flex;
                    justify-content: flex-end;
                    gap: 12px;
                    padding-right: 3.5vw;
                    position: relative;
                    z-index: 1;

                    .close {
                        display: block;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        margin-top: 3px;
                        transition: 0.3s;
                        border: none;
                        background-color: transparent;
                    }

                    .close::before,
                    .close::after {
                        content: "";
                        display: block;
                        width: 100%;
                        /*バツ線の長さ*/
                        height: 2px;
                        /*バツ線の太さ*/
                        background-color: #595959;
                        transform: rotate(45deg);
                        transform-origin: 0% 50%;
                        position: absolute;
                        top: calc(14% - 5px);
                        left: 14%;
                    }

                    .close::after {
                        transform: rotate(-45deg);
                        transform-origin: 100% 50%;
                        left: auto;
                        right: 14%;
                    }
                }

                .close:hover {
                    transform: scale(1.1, 1.1);
                }


                .menuList {
                    margin: auto;
                    font-size: 30px;
                    letter-spacing: 0.16rem;
                    display: flex;
                    flex-flow: column;
                    gap: 50px;
                    padding-left: 300px;
                    padding-top: 100px;
                    position: relative;
                    z-index: 1;

                    .list {
                        display: flex;
                        justify-content: flex-start;

                        p {
                            color: #595959;
                            transition: 0.3s;
                            margin: 0;
                        }

                        p:hover {
                            transform: scale(1.05, 1.05);
                        }

                        hr {
                            border: none;
                            width: 40px;
                            height: 1px;
                            margin: 0;
                            margin-top: 22px;
                            margin-right: 20px;
                            background-color: #595959;
                        }
                    }
                }

                .copyright {
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 170px;

                    hr {
                        width: 767px;
                        height: 1px;
                        border: none;
                        background-color: #595959;
                        margin-left: 0;
                        margin-right: auto;
                        margin-top: 17px;
                    }

                    p {
                        margin-right: 90px;
                        line-height: 12px;
                        font-size: 12px;
                        font-family: 'Montserrat', sans-serif;
                        font-style: italic;
                    }
                }

            }
        }
    }
}

.information {
    padding-top: 80px;

    h1 {
        font-size: 20px;
        margin-left: 5%;
    }

    .informationTitle {
        display: none;
    }

    .informationTitleSP {
        display: block;
        margin-left: 5%;
        margin-bottom: 60px;
    }

    .informationContentsContainer {
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #000;

        .informationContents {
            width: 95%;
            background-color: #fff;
            border-left: 1px solid #000;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-right: 0;
            margin-left: auto;

            hr {
                width: 90%;
                border: none;
                background-color: #000000;
                height: 1px;
                margin: auto 5%;
            }

            .informationContent {
                .informationText {
                    margin-left: 5%;
                    display: block;

                    .vertical {
                        width: 78px;
                        height: 1px;
                        margin: auto 5%;
                    }

                    h1 {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.1em;
                        width: 200px;
                        line-height: 20px;
                        margin-top: 20px;
                    }

                    .bodyText {
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: 0.05rem;
                        line-height: 180%;
                        margin: auto 0 20px 5%;
                        width: 85%;

                        a {
                            color: #3988FF;
                            text-decoration: underline;
                        }
                    }
                }

                hr {
                    width: 90%;
                }

            }
        }

        .pagenations {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            background-color: #fff;
            width: 95%;
            height: 52px;
            margin-right: 0;
            margin-left: auto;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 18px;
            font-weight: 500;


            span {
                width: 52px;
                height: 52px;
                line-height: 52px;
                color: #fff;
                text-align: center;
                background-color: #7FC0EF;
            }

            a {
                width: 52px;
                height: 52px;
                line-height: 52px;
                text-align: center;
                color: #000;
            }

        }

        .space {
            height: 120px;
            background-color: #fff;
            border-top: 1px solid #000;
        }
    }


}

}