$primary-color: #009f20;

$break-s: 540px;
$break-xs: 400px;

%container {  
    width: 1325px; 
    margin-right: auto; 
    margin-left:  auto;
    padding-right: 30px; 
    padding-left:  30px;
}


